parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	ignoreErrors:
		-
			message: '#Call to internal static method React\\EventLoop\\Loop::set\(\)#'
			path: ../../tests/CronFunctionalTest.php
